@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: "Poppins", sans-serif;
}

.nav1 {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
    margin-top: 20px;
    font-size: 28px;
    font-weight: 800;
    line-height: 33px;
    align-items: center;

}

.btn {
    align-items: center;
    padding: 15px 22px 15px 22px;
    border: 1px solid rgb(13, 19, 33);
    color: rgb(13, 19, 33);
    background-color: none;
}

/* banner */
.hero {
    text-align: center;
    margin-top: 30px;
    padding-top: 50px;
    margin-bottom: 200px;
}

.banner {
    background-image: url(../assets/Hero-bg.png);
    height: 600px;


}

.hero-btn {
    margin: none;
    background: rgb(13, 19, 33);
    border-radius: 8px;
    color: rgb(255, 255, 255);
    padding: 10px;
}

/* main */
main {
    background-color: rgba(13, 19, 33, 0.02);
    max-width: 1140px;
    margin: 0 auto;
}

/* why development */
.hero2 {
    margin-top: 50px;
    text-align: center;
    width: 946px;

}

.hero3,
.hero4,
.hero5 {

    width: 946px;
    height: 300px;
    display: flex;
    padding: 48px;
    justify-content: center;
    gap: 15px;

}

.imgp {
    width: 259.56px;
    height: 217.01px;
}

.title {
    font-size: 12px;
}

.description {
    font-size: 18px;
}

.learn {
    border: 1px solid rgb(13, 19, 33);
    padding: 8px;
    color: rgb(13, 19, 33);
}

button a {
    text-decoration: none;
}

/* inspiration section */
.vudu {
    width: 1076px;
    height: 550px;
}

.inspa {
    text-align: center;
}